/**
 * レイアウト
 */
#nav {
    height: 55px;
    padding: 13px 13px 0 13px;
    font-size: 2rem
}

#main {
    padding: 0 8px 8px 8px;
    width: 100%;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}


/**
 * グリッド
 */
.grid--1 {
    width: 8.333%;
}

.grid--2 {
    width: 16.667%;
}

.grid--3 {
    width: 25%;
}

.grid--4 {
    width: 33.333%;
}

.grid--5 {
    width: 41.666%;
}

.grid--6 {
    width: 50%;
}

.grid--7 {
    width: 58.333%;
}

.grid--8 {
    width: 66.666%;
}

.grid--9 {
    width: 75%;
}

.grid--10 {
    width: 83.33%;
}

.grid--11 {
    width: 91.666%;
}

.grid--12 {
    width: 100%;
}


/**
 * コンテンツ
 */
.content {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 8px;
}

.content--2 {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    width: 49.5%;
    margin-bottom: 8px;

	float: left;
}

.content--2:nth-child(even) {
	margin-left: 1%;
}

.header {
    font-size: 2rem;
}

.separator {
    margin: 8px 0;
}

.create {
    margin-top: 5px;
}

/**
 * マークダウン
 */
.markdown {
    white-space: nowarap
}
